body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f8;
    color: #333;
  }
  
  h1 {
    text-align: center;
    color:black;
  }
 
  h1,p {
    background-color: rgba(255, 255, 255, 0.7); /* soft white background */
    padding: 10px 20px;
    border-radius: 8px;
    color: #4a004e; /* dark plum or deep purple */
  }
  h2 {
    text-align: center;
    color: black;
  }

  h1,h2 {
    font-family: 'Playfair Display', serif;
  }

  
  section {
    padding: 40px 20px;
  }
  
  .navbar-brand {
    font-weight: bold;
    color: #d63384 !important;
  }
  
  .btn {
    background-color: #d63384;
    color: white;
  }
  
  footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px 0;
    color: #888;
    margin-top: 40px;
  }

  .developer-link {
    color: rgb(12, 1, 1);
    font-weight: 600;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  
  .developer-link:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
  .image-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
    padding: 0 20px;
  }
  
  .image-row img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  form input, form select, form button {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    display: block;
    padding: 10px;
  }
  select.form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
  }

  .bs-done-button {
    position: sticky;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 10;
  }
  /*   country list  appears when flag is clicked */
.iti {
  width: 100%;
}

.iti__country-list {
  max-height: 200px;   
  overflow-y: auto;    
  z-index: 9999;       
}

/*   (show only when user opens list) */
.iti__selected-dial-code {
  display: none;
}