body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f8;
    color: #333;
  }
  
  h1 {
    text-align: center;
    color:black;
  }
 
  h1,p {
    background-color: rgba(255, 255, 255, 0.7); /* soft white background */
    padding: 10px 20px;
    border-radius: 8px;
    color: #4a004e; /* dark plum or deep purple */
  }
  h2 {
    text-align: center;
    color: black;
  }

  h1,h2 {
    font-family: 'Playfair Display', serif;
  }

  
  section {
    padding: 40px 20px;
  }
  
  .navbar-brand {
    font-weight: bold;
    color: #d63384 !important;
  }
  
  .btn {
    background-color: #d63384;
    color: white;
  }
  
  footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px 0;
    color: #888;
    margin-top: 40px;
  }
  .image-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
    padding: 0 20px;
  }
  
  .image-row img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  form input, form select, form button {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    display: block;
    padding: 10px;
  }